.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px;
  background-color: $whitePurple;
  min-height: 100vh;
  text-align: center;
  &__title,
  &_sub,
  &_hero,
  &_cta {
    opacity: 0;
    transform: translateY(15px);
    animation: popUp 0.7s forwards;
  }
  &__title {
    color: $blackPurple;
    span {
      display: block;
      color: transparent;
      background: linear-gradient(90deg, $darkPurple, $purple);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
  }
  &_sub {
    margin-block: 20px;
    line-height: 25px;
    color: $grey;
    width: 350px;
    animation-delay: 0.3s;
  }
  &_hero {
    width: 100%;
    max-width: 165px;
    margin: auto;
    filter: drop-shadow(0px 0px 17.6435px rgba(0, 0, 0, 0.05));
    animation-delay: 0.6s;
  }
  &_cta {
    margin: 20px 0;
    padding: 16px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(90deg, $darkPurple, $purple);
    font-weight: 700;
    animation-delay: 0.9s;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 5px 14px #645454;
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .home {
    font-size: 20px;
    &_hero {
      max-width: 310px;
    }
    &_sub {
      width: 500px;
    }
  }
}
@media only screen and (min-width: 1224px) {
  .home {
    align-items: end;
    text-align: end;
    padding: 100px;
    font-size: 25px;
    &_hero {
      position: absolute;
      left: 150px;
      max-width: 400px;
    }
    &_sub {
      width: 500px;
    }
  }
}

@keyframes popUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
