//Primary
$blackPurple: #240d57;
$darkPurple: #501fc1;
$bluePurple: #8456ec;
$purple: #e87bf8;

//secondary
$lightPurple: #ccb6ff;
$whitePurple: #f6f2ff;

//alerts
$red: #e61445;
$lightRed: #ffd7e0;
$green: #00805e;
$lightGreen: #d3ffe2;

//neuteral

$grey: #4f4f4f;
$lightGrey: #828282;
